{% load i18n %}
{% load static %}


<div class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols it-full-carousel">
  <div class="it-carousel-all owl-carousel it-img-card it-big-img">
    <div class="it-single-slide-wrapper">
      <div class="card-wrapper">
        <div class="card card-img no-after">
          <div>
            <div>
              <div class="img-wrapper"><img src="{% static 'images/banner_1.jpg' %}" title="img title" alt="imagealt"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-single-slide-wrapper">
      <div class="card-wrapper">
        <div class="card card-img no-after">
          <div>
            <div>
              <div class="img-wrapper"><img src="{% static 'images/banner_1.jpg' %}" title="img title" alt="imagealt"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-single-slide-wrapper">
      <div class="card-wrapper">
        <div class="card card-img no-after">
          <div>
            <div>
              <div class="img-wrapper"><img src="{% static 'images/banner_1.jpg' %}" title="img title" alt="imagealt"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
