{% load i18n %}
{% load static %}


<div class="row">
  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card no-after">
        <div class="card-body">
          <h5 class="card-title mb-0">Lorem ipsum dolor</h5>
          <p class="card-text mb-0">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <b class="card-text">Scadenza 11/12/2021</b>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

</div>
