{% extends "department.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_pages %}
{% load unicms_publications %}
{% load unicms_template_unical %}


<!-- Logo in Header -->
{% block header_center_logo_side %}
<image src="{% unicms_template_unical_static_path 'images/logos/dinci.svg' %}" class="h-100" />
{% endblock header_center_logo_side %}

{% block header_slim_mobile_org_name_side %}
<image src="{% unicms_template_unical_static_path 'images/logos/dinci.svg' %}" class="mw-100" />
{% endblock header_slim_mobile_org_name_side %}

{% block department_contacts %}
<div class="col-12 col-lg-3">
    <div class="mb-3">
        <image src="{% unicms_template_unical_static_path 'images/logos/dinci.svg' %}"
               class="w-100 h-100"
               alt="{% trans 'Department of Civil Engineering' %}"/>
    </div>
    <p class="mb-4">
        Via P. Bucci - Cubo 45B, ponte carrabile
        <br>
        87036 Arcavacata di Rende (CS)
        <br>
        <a class="text-white" href="mailto:dipartimento.ingegneriacivile@unical.it" title="dipartimento.ingegneriacivile@unical.it">dipartimento.ingegneriacivile@unical.it</a>
        <br>
        <a class="text-white" href="mailto:dipartimento.ingegneriacivile@pec.unical.it" title="dipartimento.ingegneriacivile@pec.unical.it">dipartimento.ingegneriacivile@pec.unical.it</a>
        <br>
        +39 0984 494046
    </p>
</div>
{% endblock department_contacts %}

{% block footer_top %}
<div class="container text-center text-lg-start">
    <ul class="list-inline social py-4 mt-2 mb-0">
        <li class="list-inline-item">
            <a class="p-2" href="https://www.facebook.com/ingegneriacivile.unical" target="_blank" rel="noopener noreferrer" title="Facebook">
                <svg class="icon icon-secondary align-top">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-facebook-square"></use>
                </svg><span class="visually-hidden">Facebook</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="p-2" href="https://www.instagram.com/dinciunical/" target="_blank" rel="noopener noreferrer" title="Instagram">
                <svg class="icon icon-secondary align-top">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-instagram"></use>
                </svg><span class="visually-hidden">Instagram</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="p-2" href="https://www.youtube.com/channel/UCKwGx44qV7TRIee1F482Cfw" target="_blank" rel="noopener noreferrer" title="YouTube">
                <svg class="icon icon-secondary align-top">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-youtube"></use>
                </svg><span class="visually-hidden">Youtube</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="p-2" href="https://wa.me/+393792607023" target="_blank" rel="noopener noreferrer" title="WhatsApp">
                <svg class="icon icon-secondary align-top">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-whatsapp"></use>
                </svg><span class="visually-hidden">WhatsApp</span>
            </a>
        </li>
    </ul>
</div>
{% endblock footer_top %}

{% block footer_bottom_2 %}
<div class="col-lg-4 col-sm-6">
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="http://eleanor.unical.it/" target="_blank" rel="noopener noreferrer" title="{% trans 'ELEANOR' %}">{% trans 'ELEANOR' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/front-office" title="{% trans 'Online front-office' %}">{% trans 'Online front-office' %}</a></li>
            <li><a class="list-item" href="https://ticket.unical.it" target="_blank" rel="noopener noreferrer" title="{% trans 'Online ticket' %}">{% trans 'Online ticket' %}</a></li>
            <li><a class="list-item" href="https://smartcampus.unical.it/" target="_blank" rel="noopener noreferrer" title="{% trans 'Smart Campus' %}">{% trans 'Smart Campus' %}</a></li>
            <li><a class="list-item" href="https://soscr.unical.it/Default.aspx?tabid=212" target="_blank" rel="noopener noreferrer" title="{% trans 'Unical Life' %}">{% trans 'Unical Life' %}</a></li>
        </ul>
    </div>
</div>
{% endblock footer_bottom_2 %}
