{% extends "department.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_pages %}
{% load unicms_publications %}
{% load unicms_template_unical %}


{% block header_center_logo %}
<div class="d-none d-lg-flex col-lg-12 px-0 department_logo_lg">
    <image src="{% unicms_template_unical_static_path 'images/logos/my_unical.png' %}"
           class="h-100"
           alt="{% trans 'University of Calabria' %}"
           style="aspect-ratio: 11,15"/>
</div>
{% endblock header_center_logo %}

{% block header_slim_mobile_org_name_side %}
    <image src="{% unicms_template_unical_static_path 'images/logos/my_unical.png' %}" class="w-75"/>
{% endblock header_slim_mobile_org_name_side %}

{% block addressbook_link %}/rubrica/{% endblock addressbook_link %}

{% block footer_bottom_1 %}
<div class="col-lg-4 col-sm-6">
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="https://www.unical.it/pec" target="_blank" title="{% trans 'Certified email' %}">{% trans 'Certified email' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/fatturazione-elettronica/" target="_blank" title="{% trans 'Electronic invoicing' %}">{% trans 'Electronic invoicing' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/privacy/" target="_blank" title="{% trans 'Data protection / GDPR' %}">{% trans 'Data protection / GDPR' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/cookie/" target="_blank" title="{% trans 'Cookies and consent methods' %}">{% trans 'Cookies and consent methods' %}</a></li>
        </ul>
    </div>
</div>
{% endblock footer_bottom_1 %}

{% block footer_bottom_2 %}
<div class="col-lg-4 col-sm-6">
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="https://www.unical.it/media/medias/2021/phishing.pdf" target="_blank" title="{% trans 'Phishing: how to protect yourself' %}">{% trans 'Phishing: how to protect yourself' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/accessibilita/" target="_blank" title="{% trans 'Accessibility and performance' %}">{% trans 'Accessibility and performance' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/note-legali/" title="{% trans 'Legal notes' %}">{% trans 'Legal notes' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/credits/"target="_blank" title="{% trans 'Credits' %}">{% trans 'Credits' %}</a></li>
        </ul>
    </div>
</div>
{% endblock footer_bottom_2 %}

{% block footer_bottom_3 %}
<div class="col-lg-4 col-sm-6">
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="/ateneo/comunicazione/web-social/identita-visiva-di-ateneo/" title="{% trans 'Identity / Logo section' %}">{% trans 'Identity / Logo section' %}</a></li>
            <li><a class="list-item" href="https://www.unical.it/servizi-ict/servizi-digitali-per-il-personale/gestione-sito/" target="_blank" title="{% trans 'User Guide - UniCMS' %}">{% trans 'User Guide - UniCMS' %}</a></li>
            <li><a class="list-item" href="/manutenzione-ict/servizi-ict/tutti-i-servizi-on-line/" title="{% trans 'All online services' %}">{% trans 'All online services' %}</a></li>
            <li><a class="list-item" href="/sitemap/" title="{% trans 'Sitemap' %}">{% trans 'Sitemap' %}</a></li>
        </ul>
    </div>
</div>
{% endblock footer_bottom_3 %}

