{% extends "bases/unicms_unical.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_pages %}
{% load unicms_publications %}


{% block main_menu %}
{% endblock main_menu %}

{% block header_center_wrapper_columns %}
col-auto m-auto col-lg-12
{% endblock header_center_wrapper_columns %}

{% block header_center_right_zone %}
<h4 class="text-white">OpenData</h4>
{% endblock header_center_right_zone %}
