{% load i18n %}
{% load static %}

<script>
Vue.component('list-panel', {
    props: {
        data: Array,
    },
    template: `
        <div class="card-wrapper card-space" >
            <div class="card card-bg no-after">
              <div class="card-body py-1">

                <div class="row">
                    <div class="col w-50">
                        <span style="color:#050b12;">
                            <b>[[ data.count || 0]] {% trans "risultati" %}</b> in <b>[[ data.total_pages || 0 ]] {% trans "pagine" %}</b>
                        </span>
                    </div>

                    <div class="col w-50 ">
                        <div class="float-right">
                            <span>
                                <a class="" style="color:#050b12;" v-if="data.page_number > 1" @click="{{ id }}.CallURL({{ id }}.previous_page)">
                                    <span class="sr-only"> {% trans "pagina" %} </span> &lt; <small>{% trans "precedente" %}</small>
                                </a>
                            </span>

                            <span class="mr-2 ml-2" >[[ data.page_number ]] / <b>[[ data.total_pages ]]</b></span>
                            <a class="" style="color:#050b12;" @click="{{ id }}.CallURL({{ id }}.next_page)" v-if="data.page_number < data.total_pages">
                                <span class="sr-only"><small>{% trans "pagina" %} </span>{% trans "prossimo" %} &gt;</small>
                            </a>
                        </div>
                    </div>
                </div>

              </div>
            </div>
        </div>
    `
});

var {{ id }} = new Vue({
    el: '[id="{{ id }}"]',
    data() {
        return {
            parameters: "",
            items: [],
            labels: [],
            url: '{{ url }}',
            next_page: "",
            previous_page: "",
            args_input: false,
        }
    },
    mounted() {
        this.CallURL(this.url + this.parameters);

        let url_splitted = this.url.split("?");
        if (url_splitted == this.url)
            this.args_input = false
        else
            this.args_input = true
    },
    methods: {
        search() {
            this.parameters = encodeQueryData(get_form_paramenters(), this.args_input);
            this.CallURL(this.url + this.parameters);
        },
        CallURL(url) {
            axios
                .get(url)
                .then(response => {
                    this.items = response.data;
                    this.next_page = response.data.next;
                    this.previous_page = response.data.previous;
                    this.labels = response.data.labels;
                })
        },
    }
})
</script>

