<div class="app">
    <template v-for="item in items">
        <h5 class="card-title">[[ item.CdSName ]]</h5>
        <table class="table">
            <tbody>
                <tr v-for="(value, name) in item">
                    <td>[[ name ]]</td>
                    <td v-if="name !== 'CdSProfiles'"> <span style="white-space: pre-line;">[[ value ]] </span></td>
                    <td v-if="name === 'CdSProfiles'">
                        <ul v-for="(valueProfile, nameProfile) in value">
                            <li>[[ nameProfile ]]
                                <ul v-for="(valueProfileInstance, nameProfileInstance) in valueProfile">
                                    <li>[[ nameProfileInstance ]] : <span style="white-space: pre-line;">[[
                                            valueProfileInstance ]] </span></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</div>

<script>
    var search = new Vue({
        el: '#app',
        data() {
            return {
                cds_input: "",
                items: [],
                url: '{{ url }}',//'https://storage.portale.unical.it/api/ricerca/cdsinfo?cdsid=',
            }
        },
        mounted() {
            //queryString = window.location.search;
            //urlParams = new URLSearchParams(queryString);
            //this.cds_input = urlParams.get('cdsid');
            this.CallURL();
        },
        methods: {
            CallURL() {
                console.log(this.url);
                axios
                    .get(this.url)
                    .then(response => (this.items = response.data.results))
                    .then(response => (console.log(this.items)));
            }
        }
    })
</script>
