<div id="app">
    <template v-for="item in items">
        <h5 class="card-title">[[ item.TeacherLastName ]] [[ item.TeacherFirstName ]]</h5>
        <table class="table">
            <tbody>
                <tr v-for="(value, name) in item">
                    <td>[[ name ]]</td>
                    <td> <span style="white-space: pre-line;">[[ value ]] </span></td>
                </tr>
            </tbody>
        </table>
    </template>
</div>

<script>
    var search = new Vue({
        el: '#app',
        data() {
            return {
                teacher_id_input: "",
                items: [],
                url: 'https://storage.portale.unical.it/api/ricerca/teacherinfo?teacherid=',
            }
        },
        mounted() {
            queryString = window.location.search;
            urlParams = new URLSearchParams(queryString);
            this.teacher_id_input = urlParams.get('teacherid');
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url + this.teacher_id_input)
                    .then(response => (this.items = response.data.results))
                    .then(response => (console.log(this.items)));
            }
        }
    })
</script>