{% load static %}

{% load i18n %}

<div id="{{ url }}">
    {% block filters_teacherslist %}
    <div class="row">
        <div class="col-12">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <br>
                    <div class="card-body">
                        <!-- CdsId & DepartmentID & Role -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="cdsid_input">{% trans "ID Corso di Studi" %}</label>
                                        <div class="w-30 mt-5">
                                            <input type="text" id="cdsid_input" name="cdsid_input" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="department_id_input">{% trans "ID Dipartimento" %}</label>
                                        <div class="w-30 mt-5">
                                            <input type="text" id="department_id_input" name="department_id_input"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="role_input">{% trans "Ruolo" %}</label>
                                        <div class="w-30 mt-5">
                                            <input type="text" id="role_input" name="role_input" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="w-20 mt-5 ml-5 mr-5">
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            v-on:click="search()">{% trans "Cerca" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock filters_teacherslist %}


    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.TeacherName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li>[[ labels[name] ]]: [[ value ]]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>

<script src="{% static 'js/utils.js' %}"> </script>

<script>

    function get_form_paramenters() {
        let dict = {};

        // cdsid
        let cdsid = document.getElementById('cdsid_input').value
        if (cdsid) dict['cdsid'] = cdsid

        // role
        let role = document.getElementById('role_input').value
        if (role) dict['role'] = role

        // department id
        let department_id = document.getElementById('department_id_input').value
        if (department_id) dict['departmentid'] = department_id

        return dict
    }

    function encodeQueryData(data, args_input) {
        const ret = [];
        for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        
            if (args_input)
            return '&' + ret.join('&')
        return '?' + ret.join('&');
    }

    Vue.component('list-panel', {
        props: {
            data: Array,
        },
        template: `
    <div class="card-wrapper card-space" >
        <div class="card card-bg no-after">
          <div class="card-body py-1">

            <div class="row">
                <div class="col w-50">
                    <span style="color:#050b12;">
                        <b>[[ data.count || 0]] results</b> in <b>[[ data.total_pages || 0 ]] pages</b>
                    </span>
                </div>

                <div class="col w-50 ">
                  <div class="float-right">
                  <span>
                      <a class="" style="color:#050b12;" v-if="data.page_number > 1" @click="vue.CallURL(vue.previous_page)">
                          <span class="sr-only"> {% trans "Pagina" %} </span> &lt; <small>{% trans "Precedente" %}</small>
                      </a>
                  </span>

                  <span class="mr-2 ml-2" >[[ data.page_number ]] / <b>[[ data.total_pages ]]</b></span>
                      <a class="" style="color:#050b12;" @click="vue.CallURL(vue.next_page)" v-if="data.page_number < data.total_pages">
                          <span class="sr-only"><small>{% trans "Pagina" %} </span>{% trans "Successivo" %} &gt;</small>
                      </a>
                  </div>
                </div>
            </div>

          </div>
        </div>
    </div>
  `
    });

    div_id = changeId("{{ url }}");

    var vue = new Vue({
        el: '[id="' + div_id + '"]',
        data() {
            return {
                parameters: "",
                items: [],
                labels: {},
                url: '{{ url }}',
                next_page: "",
                previous_page: "",
                args_input: false,
            }
        },
        mounted() {
            this.CallURL(this.url + this.parameters);

            let url_splitted = this.url.split("?");
            if (url_splitted == this.url)
                this.args_input = false
            else
                this.args_input = true
        },
        methods: {
            search() {
                this.parameters = encodeQueryData(get_form_paramenters(), this.args_input);
                this.CallURL(this.url + this.parameters);
            },
            CallURL(url) {
                axios
                    .get(url)
                    .then(response => {
                        this.items = response.data;
                        this.next_page = response.data.next;
                        this.previous_page = response.data.previous;
                        this.labels = response.data.labels;
                    })
            },

        }
    })
</script>