{% load i18n %}
{% load static %}

{% load unicms_contexts %}
{% load unicms_menus %}


{% if title %}
<div>
    <h1 class="lighter">{{ title }}</h1>
    <hr class="my-4 bordeaux-unical-bg">
</div>
{% endif %}

{% for item in items %}

    {% call obj=item method='link' request=request as link %}

    <span class="{% if item == current %}selected{% endif %} badge badge-grey-unical square-corners my-1 mr-3 ml-0 pr-5 p-2 mw-100">
        <a class="no-color" href="{% if item.link %}{{ link }}{% else %}#{% endif %}">
            <h5>
                {% if item == current %}<b>{% endif %}
                {{ item.name }}
                {% if item == current %}</b>{% endif %}
            </h5>
        </a>
    </span>
{% endfor %}

<hr class="my-4 bordeaux-unical-bg">
