{% load i18n %}
{% load static %}

{% load unicms_contexts %}

{% call obj=publication method='url' webpath=webpath as url %}

<div class="row">
    <div class="col">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                {% if url %}
                <a href="{{ url }}">
                {% endif %}
                    <img src="{{ publication.image_url }}"
                         title="{{ publication.title }}"
                         alt="{{ publication.title }}"
                         class="w-100">
                {% if url %}
                </a>
                {% endif %}
                <div class="card-body">
                    {% if url %}
                    <a class="no-color" href="{{ url }}">
                    {% endif %}
                        <h5 class="card-title">
                            {{ publication.title }}
                        </h5>
                    {% if url %}
                    </a>
                    {% endif %}
                    <p class="card-text">
                        {{ publication.subheading|truncatechars:135 }}
                    </p>
                    <a href="#">
                        <svg class="icon" alt="{% trans 'Share' %} {{ publication.title }}">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

