<div class="row mb-5">

    {% include "includes/edit_page_publication.html" with item=page_publication %}

    {% if publication.presentation_image %}
    <div class="col-12">
        <div class="img-responsive-wrapper">
            <div class="img-responsive img-responsive-panoramic">
                <figure class="img-wrapper">
                  <a href="javascript:void(0)">
                    <img src="{{ publication.presentation_image.get_media_path }}"
                         title="{{ publication.presentation_image.title }}"
                         alt="{{ publication.presentation_image.description }}"
                         loading="lazy">
                  </a>
                </figure>
            </div>
        </div>
    </div>
    {% endif %}
    {% if publication.content %}
    <div class="col-12 mt-4">
        {{ publication.content|safe }}
    </div>
    {% endif %}
</div>
