{% load i18n %}
{% load static %}
{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">
    {% block filters_doctorateslist %}
    <div class="row">
        <div class="col-12">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <div class="card-body">

                        <div class="collapse-header" id="heading1">
                            <button style="padding: 0px; color: #19191a;"
                                    data-toggle="collapse"
                                    data-target="#collapse1"
                                    aria-expanded="false"
                                    aria-controls="collapse1">
                                {% trans "Filtri" %}
                            </button>
                        </div>

                        <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
                            <!-- Year & Year From & Year To -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="year_input">{% trans "Anno" %}</label>
                                            <div class="w-30 mt-5">
                                                <span class="input-number">
                                                    <input type="number" id="year_input" name="year_input">
                                                    <button class="input-number-add">
                                                        <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                    </button>
                                                    <button class="input-number-sub">
                                                        <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="year_from_input">{% trans "Da Anno" %}</label>
                                            <div class="w-30 mt-5">
                                                <span class="input-number">
                                                    <input type="number" id="year_from_input" name="year_from_input">
                                                    <button class="input-number-add">
                                                        <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                    </button>
                                                    <button class="input-number-sub">
                                                        <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="year_to_input">{% trans "Fino ad Anno" %}</label>
                                            <div class="w-30 mt-5">
                                                <span class="input-number">
                                                    <input type="number" id="year_to_input" name="year_to_input">
                                                    <button class="input-number-add">
                                                        <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                    </button>
                                                    <button class="input-number-sub">
                                                        <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- CdS ID & CdS COD & Department ID -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="regdid_id_input">{% trans "ID Corso di Studi" %}</label>
                                            <div class="w-30 mt-5">
                                                <input type="text"
                                                       id="regdid_id_input"
                                                       name="regdid_id_input"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="cds_cod_input">{% trans "Codice Corso di Studi" %}</label>
                                            <div class="w-30 mt-5">
                                                <input type="text"
                                                       id="cds_cod_input"
                                                       name="cds_cod_input"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="department_id_input">{% trans "ID Dipartimento" %}</label>
                                            <div class="w-30 mt-5">
                                                <input type="text"
                                                       id="department_id_input"
                                                       name="department_id_input"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Study Plan Code & Cycle -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="pds_cod_input">{% trans "Codice Piano di Studio" %}</label>
                                            <div class="w-30 mt-5">
                                                <input type="text"
                                                       id="pds_cod_input"
                                                       name="pds_cod_input"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper ml-5 mr-5">
                                            <label for="cycle_input">{% trans "Ciclo" %}</label>
                                            <div class="w-30 mt-5">
                                                <span class="input-number">
                                                    <input type="number" id="cycle_input" name="cycle_input">
                                                    <button class="input-number-add">
                                                        <span class="sr-only">Aumenta valore</span>
                                                    </button>
                                                    <button class="input-number-sub">
                                                        <span class="sr-only">Diminuisci valore</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-append d-flex justify-content-center">
                                <div class="input-group-text">
                                    <svg class="icon icon-sm icon-muted">
                                        <use xlink:href="/static/svg/sprite.svg#it-search"></use>
                                    </svg>
                                </div>
                                <button class="btn btn-primary"
                                        type="button"
                                        id="search-button"
                                        v-on:click="search()">
                                    {% trans "Cerca" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock filters_doctorateslist %}


    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.DoctorateCdsName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li>
                                [[ labels[name] ]]: [[ value ]]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>
<script>
function get_form_paramenters() {
    let dict = {};

    // Year
    let year_input = document.getElementById('year_input').value
    if (year_input) dict['year'] = year_input

    // Year From
    let year_from_input = document.getElementById('year_from_input').value
    if (year_from_input) dict['yearFrom'] = year_from_input

    // Year To
    let year_to_input = document.getElementById('year_to_input').value
    if (year_to_input) dict['yearTo'] = year_to_input

    // CdS id
    let regdid_id_input = document.getElementById('regdid_id_input').value
    if (regdid_id_input) dict['regdid'] = regdid_id_input

    // CdS COD
    let cds_cod_input = document.getElementById('cds_cod_input').value
    if (cds_cod_input) dict['cdscod'] = cds_cod_input

    // Department ID
    let department_id_input = document.getElementById('department_id_input').value
    if (department_id_input) dict['departmentid'] = department_id_input

    // Study Plan Code
    let pds_cod_input = document.getElementById('pds_cod_input').value
    if (pds_cod_input) dict['pdscod'] = pds_cod_input

    // Cycle
    let cycle_input = document.getElementById('cycle_input').value
    if (cycle_input) dict['cycle'] = cycle_input

    return dict
}

function encodeQueryData(data, args_input) {
    const ret = [];
    for (let d in data)
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));

    if (args_input)
        return '&' + ret.join('&')
    return '?' + ret.join('&');
}
</script>

{% include "includes/unical_storage_pagination.html" with id=id %}
