{% load static %}
{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">
    <template v-model="item">
        <h5 class="card-title">[[ item.StudyActivityName ]]</h5>
        <table class="table">
            <tbody>
                <tr v-for="(value, name) in item">
                    <td class="col-3">[[ labels[name] ]]</td>
                    <td v-if="typeof value !== 'object'" class="col-9">
                        <span style="white-space: pre-line;">
                            [[ value ]]
                        </span>
                    </td>
                    <td v-else class="col-9">
                        <ul v-for="(valueProfile, nameProfile) in value">
                            <ul v-for="(valueProfileInstance, nameProfileInstance) in valueProfile" v-model="labels">
                                <li>
                                    [[ nameProfileInstance ]] :
                                    <span style="white-space: pre-line;">
                                        [[ valueProfileInstance ]]
                                    </span>
                                </li>
                            </ul>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</div>
<script>
    var {{ id }} = new Vue({
        el: '[id="{{ id }}"]',
        data() {
            return {
                item: {},
                labels: {},
                url: '{{ url }}',
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                    });
            }
        }
    })
</script>
