{% load i18n %}
{% load static %}

{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">
    {% block filters_teacherstudyactivities %}
    <div class="row">
        <div class="col-12">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <br>
                    <div class="card-body">
                        <!-- Year & YearFrom & YearTo -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="year_input">{% trans "Anno" %}</label>
                                        <div class="w-30 mt-5">
                                            <span class="input-number">
                                                <input type="number" id="year_input" name="year_input">
                                                <button class="input-number-add">
                                                    <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                </button>
                                                <button class="input-number-sub">
                                                    <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="year_from_input">{% trans "Da Anno" %}</label>
                                        <div class="w-30 mt-5">
                                            <span class="input-number">
                                                <input type="number" id="year_from_input" name="year_from_input">
                                                <button class="input-number-add">
                                                    <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                </button>
                                                <button class="input-number-sub">
                                                    <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="role_input">{% trans "Fino ad Anno" %}</label>
                                        <div class="w-30 mt-5">
                                            <span class="input-number">
                                                <input type="number" id="year_to_input" name="year_to_input">
                                                <button class="input-number-add">
                                                    <span class="sr-only">{% trans "Aumenta valore" %}</span>
                                                </button>
                                                <button class="input-number-sub">
                                                    <span class="sr-only">{% trans "Diminuisci valore" %}</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="w-20 mt-5 ml-5 mr-5">
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            v-on:click="search()">{% trans "Cerca" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock filters_teacherstudyactivities %}


    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.StudyActivityName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li>
                                [[ labels[name] ]]: [[ value ]]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>
<script>
function get_form_paramenters() {
    let dict = {};

    // year
    let year = document.getElementById('year_input').value
    if (year) dict['year'] = year

    // year_to
    let year_to = document.getElementById('year_to_input').value
    if (year_to) dict['yearTo'] = year_to

    // year_from
    let year_from = document.getElementById('year_from_input').value
    if (year_from) dict['yearFrom'] = year_from

    return dict
}

function encodeQueryData(data, args_input) {
    const ret = [];
    for (let d in data)
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));

    if (args_input)
        return '&' + ret.join('&')
    return '?' + ret.join('&');
}
</script>

{% include "includes/unical_storage_pagination.html" with id=id %}
