{% load i18n %}
{% load static %}


<div class="row">
  <div class="col-12 col-lg-8">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg no-after card-big">
        <div class="flag-icon"></div>
        <div class="etichetta">
          <svg class="icon">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-settings"></use>
          </svg>
          <span>Sviluppo</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <svg class="icon">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
        </svg>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg no-after">
        <div class="card-body">
            <div class="img-responsive-wrapper mb-3">
          <div class="img-responsive img-responsive-panoramic">
            <figure class="img-wrapper">
              <img src="{% static 'images/unical_banner.jpg' %}" title="img title" alt="imagealt">
            </figure>
          </div>
        </div>
          <h5 class="card-title">Lorem ipsum dolor</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <svg class="icon">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
        </svg>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>


<div class="row">
  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg no-after">
        <div class="card-body">
            <div class="img-responsive-wrapper mb-3">
          <div class="img-responsive img-responsive-panoramic">
            <figure class="img-wrapper">
              <img src="{% static 'images/unical_banner.jpg' %}" title="img title" alt="imagealt">
            </figure>
          </div>
        </div>
          <h5 class="card-title">Lorem ipsum dolor</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <svg class="icon">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
        </svg>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg no-after">
        <div class="card-body">
            <div class="img-responsive-wrapper mb-3">
          <div class="img-responsive img-responsive-panoramic">
            <figure class="img-wrapper">
              <img src="{% static 'images/unical_banner.jpg' %}" title="img title" alt="imagealt">
            </figure>
          </div>
        </div>
          <h5 class="card-title">Lorem ipsum dolor</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <svg class="icon">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
        </svg>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12 col-lg-4">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg no-after">
        <div class="card-body">
            <div class="img-responsive-wrapper mb-3">
          <div class="img-responsive img-responsive-panoramic">
            <figure class="img-wrapper">
              <img src="{% static 'images/unical_banner.jpg' %}" title="img title" alt="imagealt">
            </figure>
          </div>
        </div>
          <h5 class="card-title">Lorem ipsum dolor</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua...</p>
          <svg class="icon">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
        </svg>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
