{% extends 'blocks/unical_publications_cards_carousel_v2.html' %}

{% load i18n %}
{% load static %}
{% load unicms_templates %}

{% settings_value "CMS_PUBLICATION_LIST_PREFIX_PATH" as page_news_suffix %}


{% block categories_buttons_1 %}
{% endblock categories_buttons_1 %}

{% block categories_buttons_2 %}
{% endblock categories_buttons_2 %}

{% block categories_buttons_3 %}
{% endblock categories_buttons_3 %}

{% block categories_buttons_4 %}
{% endblock categories_buttons_4 %}

{% block categories_margin_3 %}
style="margin-top: -24px"
{% endblock categories_margin_3 %}

{% block categories_margin_4 %}
style="margin-top: -24px"
{% endblock categories_margin_4 %}

{% block all_items_link %}
<p class="mt-3 ms-2 d-lg-none">
    <a href="{{ page_news_suffix }}" class="no-color">
        <span class="text-black fw-bold">
            <svg class="icon me-2">
                <use xlink:href="{% static '/svg/sprites.svg' %}#it-arrow-right-circle"></use>
            </svg>
            {% trans "Go to all news" %}
        </span>
    </a>
</p>
{% endblock all_items_link %}
