{% load i18n %}
{% load static %}

{% load unicms_templates %}

{% settings_value "CAROUSEL_HERO_AUTOPLAY_TIMEOUT" as carousel_timeout %}
{% random_id as id %}

{% if carousel_items %}

    {% comment %}
    {% if carousel_items|length > 1 %}
    <div class="customNavigation w-100" id="{{ id }}_customNavigation" style="position: absolute;">
        <span id="{{ id }}_prev" style="cursor: pointer; position: relative; z-index: 10">
            <span class="text-white fw-bold">
                <svg class="icon icon-lg icon-white" aria-labelledby="{{ id }}_carousel_prev">
                    <title id="{{ id }}_carousel_prev">{% trans "Previous" %}</title>
                    <use xlink:href="{% static '/svg/sprites.svg' %}#it-chevron-left"></use>
                </svg>
            </span>
        </span>
        <span class="float-end" id="{{ id }}_next" style="cursor: pointer; position: relative; z-index: 10">
            <span class="text-white fw-bold">
                <svg class="icon icon-lg icon-white" aria-labelledby="{{ id }}_carousel_next">
                    <title id="{{ id }}_carousel_next">{% trans "Next" %}</title>
                    <use xlink:href="{% static '/svg/sprites.svg' %}#it-chevron-right"></use>
                </svg>
            </span>
        </span>
    </div>
    {% endif %}
    {% endcomment %}
    
    <div id="italia_carousel_{{ id }}" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for item in carousel_items %}
                {% with item.links as item_links %}
                <li class="splide__slide">
                    <div class="it-single-slide-wrapper h-100">
                        <div class="item h-100">
                            <div class="it-hero-wrapper it-overlay {% if item.heading %}it-dark{% endif %} {% block extra_class %}{% endblock %} h-100">

                                <!-- - img-->
                                {% if item_links|length == 1 %}
                                <a href="{{ item_links.0.url }}" class="w-100" style="text-decoration: none">
                                {% endif %}
                                <div class="img-responsive-wrapper" style="aspect-ratio: 1;">
                                    <div class="img-responsive">
                                        <div class="img-wrapper">
                                            <picture style="display: block; width: 100%; height: 100%;">
                                                {% if item.mobile_image %}
                                                <source srcset="{{ item.mobile_image.file.url }}"
                                                        media="(max-width: 767px)"
                                                        title="{{ item.mobile_image.name }}">
                                                {% endif %}
                                                <img class="splide__lazy"
                                                     data-splide-lazy="{{ item.image.file.url }}"
                                                     title="{{ item.image.name }}"
                                                     alt="{{ item.image.description }}"
                                                     style="display: block; width: 100%; height: 100%; object-fit: cover;">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                {% if item.pre_heading or item.heading or item.description %}
                                <!-- - texts-->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="it-hero-text-wrapper unical-hero-text-wrapper {% if item.heading %}bg-dark{% endif %}">

                                                {% block pre_heading %}
                                                {% if item.pre_heading %}
                                                <h5 class="unical-hero-preheading">
                                                    {{ item.pre_heading }}
                                                </h5>
                                                {% endif %}
                                                {% endblock pre_heading %}

                                                {% block heading %}
                                                {% if item.heading %}
                                                <h1 class="no_toc unical-hero-heading">
                                                    {{ item.heading }}
                                                </h1>
                                                {% endif %}
                                                {% endblock heading %}

                                                {% block description %}
                                                {% if item.description %}
                                                <h1 class="no_toc unical-hero-description">
                                                    {{ item.description }}
                                                </h1>
                                                {% endif %}
                                                {% endblock description %}

                                                {% if item_links|length > 1 %}
                                                <div class="it-btn-container">
                                                    {% for link in item_links %}
                                                    <a class="btn btn-sm btn-secondary mb-1" href="{{ link.url }}">
                                                        {{ link.get_title }}
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if item_links|length == 1 %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('#italia_carousel_{{ id }}', {
            type   : 'loop',
            perPage: 1,
            arrows     : true, // Nasconde le frecce (prev/next)
            pagination : false, // Nasconde i puntini (bullets)
            lazyLoad: 'nearby',
            autoplay    : true,      // Attiva lo scorrimento automatico
            interval    : {{ carousel_timeout|default:5000 }},      // Tempo di attesa in millisecondi (3000 = 3 secondi)
            pauseOnHover: true,      // Consigliato: si ferma se l'utente passa il mouse sopra
            pauseOnFocus: true,      // Si ferma se l'utente clicca/seleziona la slide
            resetProgress: false,
            // Classi per integrare lo stile Bootstrap Italia se necessario
            classes: {
                arrows: 'splide__arrows it-test-class', 
                arrow : 'splide__arrow it-arrow-custom',
            },
        });

        splide.mount();

        // FORZA L'AVVIO MANUALE
        if (splide.Components.Autoplay) {
            splide.Components.Autoplay.play();
        }

        {% comment %}
        // Collega i tasti custom
        const prevBtn = document.getElementById('{{ id }}_prev');
        const nextBtn = document.getElementById('{{ id }}_next');

        prevBtn.addEventListener('click', function () {
            splide.go('<'); // Va alla slide precedente
        });

        nextBtn.addEventListener('click', function () {
            splide.go('>'); // Va alla slide successiva
        });

        {% if carousel_items|length > 1 %}
        let banner_height = document.querySelector('#italia_carousel_{{ id }}').offsetHeight;
        document.getElementById("{{ id }}_customNavigation").style.marginTop = (banner_height/2)-32 + "px";
        {% endif %}
        {% endcomment %}
    });
    </script>
{% endif %}
