{% load i18n %}
{% load static %}


<h4>{% trans "Attachments" %}</h4>

<!-- ATTACHMENTS -->
<ul class="upload-file-list" style="list-style: none">
    {% for item in publication.get_attachments %}
    <li>
        <a href="{{ item.file.url }}" target="_blank">
            <svg class="icon icon-secondary"
                 aria-hidden="true">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-file"></use>
            </svg>
            <span class="sr-only">{% trans "Attachment" %}:</span> {{ item.name }}
        </a>
        <span class="text-muted small">
            &nbsp; {{ item.file_type }} ({{ item.file_size_kb }} KB)
        </span>
    </li>
    {% endfor %}
</ul>
<!-- END ATTACHMENTS -->
