{% load i18n %}
{% load static %}

{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">
    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.RGroupName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li>
                                [[ labels[name] ]]:
                                <span style="white-space: pre-line;">
                                    [[ value ]]
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>
<script>
Vue.component('list-panel', {
    props: {
        data: Array,
    },
    template: `
        <div class="card-wrapper card-space" >
            <div class="card card-bg no-after">
              <div class="card-body py-1">

                <div class="row">
                    <div class="col w-50">
                        <span style="color:#050b12;">
                            <b>[[ data.count || 0]] results</b> in <b>[[ data.total_pages || 0 ]] pages</b>
                        </span>
                    </div>

                    <div class="col w-50 ">
                      <div class="float-right">
                      <span>
                          <a class="" style="color:#050b12;" v-if="data.page_number > 1" @click="{{ id }}.CallURL({{ id }}.previous_page)">
                              <span class="sr-only"> {% trans "Pagina" %} </span> &lt; <small>{% trans "Precedente" %}</small>
                          </a>
                      </span>

                      <span class="mr-2 ml-2" >[[ data.page_number ]] / <b>[[ data.total_pages ]]</b></span>
                          <a class="" style="color:#050b12;" @click="{{ id }}.CallURL({{ id }}.next_page)" v-if="data.page_number < data.total_pages">
                              <span class="sr-only"><small>{% trans "Pagina" %} </span>{% trans "Successivo" %} &gt;</small>
                          </a>
                      </div>
                    </div>
                </div>

              </div>
            </div>
        </div>
    `
});

var {{ id }} = new Vue({
    el: '[id="{{ id }}"]',
    data() {
        return {
            parameters: "",
            items: [],
            labels: {},
            url: '{{ url }}',
            next_page: "",
            previous_page: "",
        }
    },
    mounted() {
        this.CallURL(this.url + this.parameters);
    },
    methods: {
        CallURL(url) {
            axios
                .get(url)
                .then(response => {
                    this.items = response.data;
                    this.next_page = response.data.next;
                    this.previous_page = response.data.previous;
                    this.labels = response.data.labels;
                })
        },
        update_args(values) {
            if (values) this.parameters += values;
            this.CallURL(this.url + this.parameters);
        },

    }
})
</script>
