{% load i18n %}
{% load static %}

{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">
    {% block filters_teacherslist %}
    <div class="row">
        <div class="col-12">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <br>
                    <div class="card-body">
                        <!-- CdsId & DepartmentID & Role -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="cdsid_input">
                                            {% trans "ID Corso di Studi" %}
                                        </label>
                                        <div class="w-30 mt-5">
                                            <input type="text"
                                                   id="cdsid_input"
                                                   name="cdsid_input"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="department_id_input">
                                            {% trans "ID Dipartimento" %}
                                        </label>
                                        <div class="w-30 mt-5">
                                            <input type="text" id="department_id_input" name="department_id_input"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="bootstrap-select-wrapper ml-5 mr-5">
                                        <label for="role_input">
                                            {% trans "Ruolo" %}
                                        </label>
                                        <div class="w-30 mt-5">
                                            <input type="text" id="role_input" name="role_input" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="w-20 mt-5 ml-5 mr-5">
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            v-on:click="search()">{% trans "Cerca" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock filters_teacherslist %}


    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.TeacherName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li>
                                [[ labels[name] ]]: [[ value ]]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>
<script>
function get_form_paramenters() {
    let dict = {};

    // cdsid
    let cdsid = document.getElementById('cdsid_input').value
    if (cdsid) dict['cdsid'] = cdsid

    // role
    let role = document.getElementById('role_input').value
    if (role) dict['role'] = role

    // department id
    let department_id = document.getElementById('department_id_input').value
    if (department_id) dict['departmentid'] = department_id

    return dict
}

function encodeQueryData(data, args_input) {
    const ret = [];
    for (let d in data)
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));

        if (args_input)
        return '&' + ret.join('&')
    return '?' + ret.join('&');
}

</script>

{% include "includes/unical_storage_pagination.html" with id=id %}
