{% load i18n %}
{% load static %}
{% load unicms_template_unical %}

{% random_id as id %}

<div id="{{ id }}">

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>

    <div class="row">
        <div class="col-12 col-lg-6" v-for="item in items.results">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">[[ item.StudyPlanName ]]</h5>
                        <ul v-for="(value, name) in item">
                            <li v-if="typeof value !== 'object'">
                                [[ labels[name] ]]: <span style="white-space: pre-line;">[[ value ]]</span>
                            </li>
                            <li v-else>
                                [[ labels[name] ]]:
                                <br>
                                <br>
                                <template v-for="v in value">
                                    <div class="card-wrapper card-space">
                                        <div class="card card-bg">
                                            <div class="card-body">
                                                <h5 class="card-title">[[ v.StudyActivityName ]]</h5>
                                                <ul v-for="(v_instance, n_instance) in v">
                                                    <li style="list-style-type:none;">
                                                        [[ labels[n_instance] ]]: <span style="white-space: pre-line;">[[ v_instance
                                                            ]]</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <list-panel v-bind:data="items" v-if="items.results"></list-panel>
</div>

{% include "includes/unical_storage_pagination.html" with id=id %}